<div class="my-4" style="border: 2px solid rgba(32, 31, 31, 0.615);border-radius:10px; background-color: antiquewhite;">
    <div style="margin-left: 10px;">  
      <h5 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>
      <hr>
      <p [ngClass]="{'strike': !todo.active}">{{todo.desc}}</p>
      <hr>
      <div class="mb-3 form-check">
        <input type="checkbox"  (click)="onCheckboxClick(todo)" class="form-check-input" id="todo{{i}}"
        [checked]="!todo.active">
        <label class="form-check-label" for="todo{{i}}">Done</label>
      </div>
      <button class="btn btn-sm btn-danger " style="margin-bottom: 5px;" (click)="onClick(todo)">Delete</button>
    </div>
</div>